In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [3]:
df.head(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
# Q1. Pandas version
# What's the version of Pandas that you installed?
pd.__version__

'2.2.2'

In [5]:
df.shape

(2160, 12)

In [6]:
#Q2. Records count
#How many records are in the dataset?

record_num = df.shape[0]
print("Number of records:", record_num)

Number of records: 2160

In [7]:
# nunique - unique loc vs iloc
unique_brands = df.iloc[:, 2].unique()
print("List of unique laptop brands:", unique_brands)

List of unique laptop brands: ['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']

In [8]:
# Q3. Laptop brands
# How many laptop brands are presented in the dataset?
unique_brands_count = df.loc[:, 'Brand'].nunique()  # Get the count of unique brands
print("Number of unique laptop brands:", unique_brands_count)

Number of unique laptop brands: 27

In [9]:
# Q4. Missing values
# How many columns in the dataset have missing values?
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [10]:
# Q4. Missing values
columns_with_missing_values = df.isnull().sum() > 0
num_columns_with_missing_values = columns_with_missing_values.sum()

print("Number of columns with missing values:", num_columns_with_missing_values)

# this Checks the total number of missing values in the dataset
# has_missing_values = df.isnull().values.sum() - 1417

Number of columns with missing values: 3

In [11]:
max_price = df['Final Price'].max()
print(max_price)

7150.47

In [12]:
# Q5. Maximum final price
# What's the maximum final price of Dell notebooks in the dataset?

dell_notebooks = df.loc[df['Brand'] == 'Dell']

max_final_price = dell_notebooks['Final Price'].max()

print("Maximum final price of Dell notebooks:", max_final_price)

Maximum final price of Dell notebooks: 3936.0

In [13]:
max_final_price = df.loc[df['Brand'] == 'Dell', 'Final Price'].max()
max_final_price

np.float64(3936.0)

In [15]:
# Q6. Median value of Screen
# Find the median value of Screen column in the dataset.
initial_median = df['Screen'].median()
print("median Screen value:", initial_median)

# Next, calculate the most frequent value of the same Screen column.
most_frequent_value = df['Screen'].mode()[0]
print("Most frequent Screen value:", most_frequent_value)

# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#df['Screen'].fillna(most_frequent_value, inplace=True)
#df[col].method(value, inplace=True)
df.fillna({'Screen':most_frequent_value}, inplace=True)
#'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value)

# Now, calculate the median value of Screen once again.
new_median = df['Screen'].median()
print("Median Screen value after filling missing values:", new_median)

median Screen value: 15.6
Most frequent Screen value: 15.6
Median Screen value after filling missing values: 15.6

In [26]:
# Q7. Sum of weights
# Select all the "Innjoo" laptops from the dataset.
i_brand = df.loc[df['Brand'] == "Innjoo"]
print(i_brand)
# Select only columns RAM, Storage, Screen.
col = i_brand[['RAM', 'Storage', 'Screen']]
# Get the underlying NumPy array. Let's call it X.
X = col.values
print(X)
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
print(XTX)
# Compute the inverse of XTX.
import numpy as np
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])
print(y)
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y
print(w)
# What's the sum of all the elements of the result?
sum_of_w = np.sum(w)
sum_of_w = np.round(sum_of_w,2)
print(sum_of_w)

## Yay
###Note: You just implemented linear regression. We'll talk about it in the next lesson.

                                                 Laptop Status   Brand Model  \
1478  InnJoo Voom Excellence Intel Celeron N4020/8GB...    New  Innjoo  Voom
1479  InnJoo Voom Excellence Pro Intel Celeron N4020...    New  Innjoo  Voom
1480  Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...    New  Innjoo  Voom
1481  Innjoo Voom Laptop Max Intel Celeron N3350/6GB...    New  Innjoo  Voom
1482  Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...    New  Innjoo  Voom
1483  Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...    New  Innjoo  Voom

                CPU  RAM  Storage Storage type  GPU  Screen Touch  Final Price
1478  Intel Celeron    8      256          SSD  NaN    15.6    No       311.37
1479  Intel Celeron    8      512          SSD  NaN    15.6    No       392.55
1480  Intel Celeron    4       64         eMMC  NaN    14.1    No       251.40
1481  Intel Celeron    6       64         eMMC  NaN    14.1    No       383.61
1482  Intel Celeron    6      128          SSD  NaN    14.1    No       317.02
1483  Intel Celeron    6      128         eMMC  NaN    14.1    No       431.38
[[  8.  256.   15.6]
 [  8.  512.   15.6]
 [  4.   64.   14.1]
 [  6.   64.   14.1]
 [  6.  128.   14.1]
 [  6.  128.   14.1]]
[[2.52000e+02 8.32000e+03 5.59800e+02]
 [8.32000e+03 3.68640e+05 1.73952e+04]
 [5.59800e+02 1.73952e+04 1.28196e+03]]
[[ 2.78025381e-01 -1.51791334e-03 -1.00809855e-01]
 [-1.51791334e-03  1.58286725e-05  4.48052175e-04]
 [-1.00809855e-01  4.48052175e-04  3.87214888e-02]]
[1100 1300  800  900 1000 1100]
[45.58076606  0.42783519 45.29127938]
91.3