In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [5]:
df.head(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
pd.__version__

'2.2.2'

In [7]:
df.shape

(2160, 12)

In [9]:
# Question 2. Records count
record_num = df.shape[0]
print("Number of records:", record_num)

Number of records: 2160

In [10]:
# nunique - unique loc vs iloc
unique_brands = df.iloc[:, 2].unique()
print("List of unique laptop brands:", unique_brands)

List of unique laptop brands: ['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']

In [10]:
# Question 3. Laptop brands
unique_brands_count = df.loc[:, 'Brand'].nunique()  # Get the count of unique brands
print("Number of unique laptop brands:", unique_brands_count)

Number of unique laptop brands: 27

In [14]:
# Q4. Missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [18]:
# Q4. Missing values
columns_with_missing_values = df.isnull().sum() > 0
num_columns_with_missing_values = columns_with_missing_values.sum()

print("Number of columns with missing values:", num_columns_with_missing_values)

# Check if there are any missing values in the dataset
# has_missing_values = df.isnull().values.sum() - 1417

Number of columns with missing values: 3

In [24]:
max_price = df['Final Price'].max()
print(max_price)

7150.47

In [30]:
dell_notebooks = df.loc[df['Brand'] == 'Dell']

max_final_price = dell_notebooks['Final Price'].max()

print("Maximum final price of Dell notebooks:", max_final_price)

Maximum final price of Dell notebooks: 3936.0

In [28]:
max_final_price = df.loc[df['Brand'] == 'Dell', 'Final Price'].max()
max_final_price

np.float64(3936.0)