### Homework 4 - Evaluation

In [1]:
# Import required modules.
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the CSV file with semicolon as the delimiter
df = pd.read_csv("C:/Users/shbel/Documents/Machine-Learning-Zoomcamp/03-classification/bank-full.csv", delimiter=';')

# Display the first few rows
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
df.shape

(45211, 17)

In [5]:
# Subset the df dataset.
df_col = ['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact', 'day', 
             'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [6]:
# Initialize numerical and categorical variables.
numerical = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]
categorical = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome']

In [10]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold

In [11]:
# encode the yes/no values with 1/0 in column y.
df = df.copy()
df = df[df_col]
df.loc[:, 'y'] = df['y'].map({'yes': '1', 'no': '0'})

# Split the dataset.
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values

del df_train['y']
del df_val['y']
del df_test['y']